@charset "UTF-8";

$font-color:#464646;

$theme-color: #2EC780;
$sub-theme-color:#2FD0E6;
$sub-title-color:#696969;
$shallow-title-color:#9a9a9a;

$border-color-gray:#dfdfdf;

$font-size-big:1.4rem;
$font-size-small:1.0rem;
$font-size:1.2rem;

